{
  "openapi": "3.1.0",
  "info": {
    "title": "PropRaven API",
    "version": "1.2.0",
    "description": "National property intelligence API: US parcels with ownership, valuation, permit, deed, risk and market data.\n\n**Base URL.** `https://propraven.com/api/v1` (every path below starts with `/api/v1`; `https://api.propraven.com/api/v1` serves the same API). The REST API is for server-side use: it sends no CORS headers, and API keys are secret.\n\n**Authentication.** `Authorization: Bearer pz_…`. Create a key in the dashboard. A few endpoints are key-optional (marked with an empty security requirement); anonymous calls to them are limited to 100 a day and 60 a minute per IP. The Free plan includes 1,000 API calls a month (60 a minute, 1,000 a day); `GET /api/v1/account/usage` reports your plan, period usage and limits.\n\n**Numbers.** Since API 1.2.0, every field this spec types as `number` or `integer` is a JSON number. (Before 1.2.0, values read from Postgres `numeric` and `bigint` columns, such as `total_assessed_value`, were sent as strings like \"19388200.00\".) Identifiers stay strings: `parcel_id`, `apn`, `county_fips`, `state_fips`, `zip`.\n\n**Errors.** Every error is an RFC 7807 problem (`application/problem+json`, schema `Problem`) with a stable `code`. Bad parameters are a 400 `invalid_parameter` naming each one in `errors`; an unknown endpoint is a 404 `not_found`; an unsupported method is a 405 with an `Allow` header; a query that runs out of time is a 504 `query_timeout` with `Retry-After`. Error bodies never contain database text. Paid endpoints answer an unpaid call with an x402 `402 Payment Required` envelope (`x402Version`, `accepts`).\n\n**Pagination.** List endpoints take `limit` and `offset` and return `{data, total, limit, offset}`; request the next page with `offset + limit` until a page is shorter than `limit` or `offset` reaches `total`. `GET /api/v1/search/full` uses a keyset cursor: pass the previous page's `nextCursor` as `after` until `nextCursor` is null.\n\n**Rate limits.** Authenticated responses carry `X-RateLimit-Limit` / `-Remaining` / `-Reset` (Unix seconds), all describing the window that will refuse you first. A 429 carries `Retry-After`.\n\n**SDKs.** Official clients generated from this spec: `@propraven/sdk` (npm), `propraven` (PyPI) and `github.com/jdw2111/propraven-go`. Each retries 429/503/504 with backoff, raises typed errors on the `Problem` shape, paginates, and verifies webhook signatures. The `x-sdk-group`, `x-sdk-method` and `x-sdk-pagination` extensions name each operation in the SDKs.",
    "contact": {
      "name": "PropRaven Support",
      "url": "https://propraven.com/docs",
      "email": "support@propraven.com"
    },
    "license": {
      "name": "Commercial",
      "url": "https://propraven.com/terms#data-license"
    }
  },
  "servers": [
    {
      "url": "https://propraven.com",
      "description": "Production. Every path starts with /api/v1. (https://api.propraven.com serves the same API.)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/parcels/{id}": {
      "get": {
        "operationId": "getParcel",
        "summary": "Get parcel by ID",
        "description": "Retrieve a single parcel by its composite ID (county_fips:parcel_id).",
        "tags": [
          "Parcels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Composite parcel identifier in the format county_fips:parcel_id (e.g., 37:119:12104406).",
            "schema": {
              "type": "string",
              "example": "37:119:12104406"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parcel found.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Parcel"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-sdk-group": "parcels",
        "x-sdk-method": "get"
      }
    },
    "/api/v1/parcels/{id}/owner": {
      "get": {
        "operationId": "getParcelOwner",
        "summary": "Get parcel owner details and portfolio",
        "description": "Retrieve the owner of a parcel along with their portfolio summary and list of properties.",
        "tags": [
          "Parcels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Composite parcel identifier (county_fips:parcel_id).",
            "schema": {
              "type": "string",
              "example": "37:119:12104406"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Owner details returned.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "owner",
                    "contact",
                    "entity_type",
                    "portfolio",
                    "properties"
                  ],
                  "properties": {
                    "owner": {
                      "type": "object",
                      "required": [
                        "owner_name",
                        "owner_address",
                        "owner_city",
                        "owner_state"
                      ],
                      "properties": {
                        "owner_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "owner_address": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "owner_city": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "owner_state": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "additionalProperties": false
                    },
                    "contact": {
                      "type": "object",
                      "required": [
                        "owner_name",
                        "owner_name_status",
                        "owner_roles",
                        "owner_name_provenance",
                        "co_owners",
                        "co_owner_status",
                        "mailing",
                        "mailing_alternates",
                        "entity",
                        "phones",
                        "phone_status",
                        "emails",
                        "none_published",
                        "hidden_low_confidence",
                        "people_on_permits",
                        "people_on_permits_status",
                        "other_addresses",
                        "other_addresses_status",
                        "other_addresses_scope"
                      ],
                      "properties": {
                        "owner_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "owner_name_status": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "owner_roles": {
                          "type": "array"
                        },
                        "owner_name_provenance": {
                          "type": "object",
                          "required": [
                            "source",
                            "as_of",
                            "as_of_basis",
                            "grade"
                          ],
                          "properties": {
                            "source": {
                              "type": "object",
                              "required": [
                                "authority",
                                "dataset",
                                "url"
                              ],
                              "properties": {
                                "authority": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "dataset": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "url": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              },
                              "additionalProperties": false
                            },
                            "as_of": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "as_of_basis": {
                              "type": "string"
                            },
                            "grade": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          },
                          "additionalProperties": false
                        },
                        "co_owners": {
                          "type": "array"
                        },
                        "co_owner_status": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "mailing": {
                          "type": "object",
                          "required": [
                            "basis",
                            "line1",
                            "city",
                            "state",
                            "zip5",
                            "zip4",
                            "mail_ready",
                            "po_box",
                            "equals_situs",
                            "zip_conflict",
                            "parcels_citing",
                            "parcels_citing_basis",
                            "label",
                            "source",
                            "as_of",
                            "as_of_basis",
                            "grade"
                          ],
                          "properties": {
                            "basis": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "line1": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "city": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "state": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "zip5": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "zip4": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "mail_ready": {
                              "type": [
                                "boolean",
                                "null"
                              ]
                            },
                            "po_box": {
                              "type": [
                                "boolean",
                                "null"
                              ]
                            },
                            "equals_situs": {
                              "type": [
                                "boolean",
                                "null"
                              ]
                            },
                            "zip_conflict": {
                              "type": [
                                "boolean",
                                "null"
                              ]
                            },
                            "parcels_citing": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "parcels_citing_basis": {
                              "type": "string"
                            },
                            "label": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "source": {
                              "type": "object",
                              "required": [
                                "authority",
                                "dataset",
                                "url"
                              ],
                              "properties": {
                                "authority": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "dataset": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "url": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              },
                              "additionalProperties": false
                            },
                            "as_of": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "as_of_basis": {
                              "type": "string"
                            },
                            "grade": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          },
                          "additionalProperties": false
                        },
                        "mailing_alternates": {
                          "type": "array"
                        },
                        "entity": {
                          "type": "object",
                          "required": [
                            "entity_type",
                            "status",
                            "state_of_formation",
                            "formation_date",
                            "registered_agent",
                            "officers",
                            "source",
                            "as_of",
                            "as_of_basis",
                            "grade"
                          ],
                          "properties": {
                            "entity_type": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "status": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "state_of_formation": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "formation_date": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "registered_agent": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "officers": {
                              "type": "array"
                            },
                            "source": {
                              "type": "object",
                              "required": [
                                "authority",
                                "dataset",
                                "url"
                              ],
                              "properties": {
                                "authority": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "dataset": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "url": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              },
                              "additionalProperties": false
                            },
                            "as_of": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "as_of_basis": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "grade": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          },
                          "additionalProperties": false
                        },
                        "phones": {
                          "type": "array"
                        },
                        "phone_status": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "emails": {
                          "type": "array"
                        },
                        "none_published": {
                          "type": "array",
                          "items": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "hidden_low_confidence": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "people_on_permits": {
                          "type": "array"
                        },
                        "people_on_permits_status": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "other_addresses": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "parcel_id",
                              "state",
                              "county",
                              "kind",
                              "address",
                              "same_as",
                              "grade",
                              "link",
                              "basis",
                              "label_note",
                              "evidence",
                              "mail_merge",
                              "owner_name_on_record",
                              "owner_roles",
                              "cited_by",
                              "parcels_citing",
                              "source",
                              "as_of",
                              "as_of_basis"
                            ],
                            "properties": {
                              "parcel_id": {
                                "type": "string"
                              },
                              "state": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "county": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "kind": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "address": {
                                "type": "object",
                                "required": [
                                  "line1",
                                  "city",
                                  "state",
                                  "zip5",
                                  "zip4",
                                  "label",
                                  "mail_ready",
                                  "po_box"
                                ],
                                "properties": {
                                  "line1": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "city": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "state": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "zip5": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "zip4": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "label": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "mail_ready": {
                                    "type": [
                                      "boolean",
                                      "null"
                                    ]
                                  },
                                  "po_box": {
                                    "type": [
                                      "boolean",
                                      "null"
                                    ]
                                  }
                                },
                                "additionalProperties": false
                              },
                              "same_as": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "grade": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "link": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "basis": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label_note": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "evidence": {
                                "type": "array"
                              },
                              "mail_merge": {
                                "type": [
                                  "boolean",
                                  "null"
                                ]
                              },
                              "owner_name_on_record": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "owner_roles": {
                                "type": "array"
                              },
                              "cited_by": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "parcel_id",
                                    "state",
                                    "county"
                                  ],
                                  "properties": {
                                    "parcel_id": {
                                      "type": "string"
                                    },
                                    "state": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "county": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "parcels_citing": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "source": {
                                "type": "object",
                                "required": [
                                  "authority",
                                  "dataset",
                                  "url"
                                ],
                                "properties": {
                                  "authority": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "dataset": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "url": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                },
                                "additionalProperties": false
                              },
                              "as_of": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "as_of_basis": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "other_addresses_status": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "other_addresses_scope": {
                          "type": "object",
                          "required": [
                            "name_basis",
                            "spellings",
                            "parcels_read",
                            "capped",
                            "copies_skipped",
                            "parcels_linked",
                            "possible_found",
                            "possible_listed",
                            "possible_cap",
                            "possible_withheld_reason",
                            "listed_capped",
                            "evidence_providers",
                            "co_owner_link"
                          ],
                          "properties": {
                            "name_basis": {
                              "type": "string"
                            },
                            "spellings": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "parcels_read": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "capped": {
                              "type": [
                                "boolean",
                                "null"
                              ]
                            },
                            "copies_skipped": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "parcels_linked": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "possible_found": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "possible_listed": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "possible_cap": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "possible_withheld_reason": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "listed_capped": {
                              "type": [
                                "boolean",
                                "null"
                              ]
                            },
                            "evidence_providers": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "required": [
                                  "id",
                                  "status"
                                ],
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "co_owner_link": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          },
                          "additionalProperties": false
                        }
                      },
                      "additionalProperties": false
                    },
                    "entity_type": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "example": "individual",
                      "description": "Observed values include: CORP."
                    },
                    "portfolio": {
                      "type": "object",
                      "required": [
                        "property_count",
                        "state_count",
                        "total_assessed_value",
                        "total_acreage",
                        "states_list"
                      ],
                      "properties": {
                        "property_count": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "state_count": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "total_assessed_value": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "total_acreage": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "states_list": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "county_count": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "portfolio_rank": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        }
                      },
                      "additionalProperties": false
                    },
                    "properties": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "parcel_id",
                          "county_fips",
                          "state_fips",
                          "address",
                          "city",
                          "state",
                          "zip",
                          "total_assessed_value",
                          "last_sale_price",
                          "last_sale_date",
                          "property_type",
                          "building_sqft",
                          "lot_size_acres",
                          "year_built"
                        ],
                        "properties": {
                          "parcel_id": {
                            "type": "string"
                          },
                          "county_fips": {
                            "type": "string"
                          },
                          "state_fips": {
                            "type": "string"
                          },
                          "address": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "city": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "state": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "zip": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "total_assessed_value": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "last_sale_price": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "last_sale_date": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "property_type": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "building_sqft": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "lot_size_acres": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "year_built": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "owner_name": {
                      "type": "string",
                      "example": "SMITH JOHN A"
                    },
                    "mailing_address": {
                      "type": "string",
                      "example": "123 Main St, Raleigh, NC 27601"
                    },
                    "portfolio_summary": {
                      "type": "object",
                      "properties": {
                        "property_count": {
                          "type": "integer",
                          "example": 5
                        },
                        "total_assessed_value": {
                          "type": "number",
                          "example": 1250000
                        },
                        "states": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "NC",
                            "SC"
                          ]
                        }
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-sdk-group": "parcels",
        "x-sdk-method": "owner"
      }
    },
    "/api/v1/parcels/{id}/permits": {
      "get": {
        "operationId": "getParcelPermits",
        "summary": "Get parcel permits",
        "description": "Retrieve building and construction permits associated with a parcel.",
        "tags": [
          "Parcels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Composite parcel identifier (county_fips:parcel_id).",
            "schema": {
              "type": "string",
              "example": "37:119:12104406"
            }
          },
          {
            "name": "shape",
            "in": "query",
            "required": false,
            "description": "Body shape. Omit for the default bare array of up to 100 permit rows (newest first); `envelope` returns `{ data, permit_count, permit_count_basis, truncated, row_cap }`, where `permit_count` is the parcel's true count when `permit_count_basis` is `exact` and the size of the capped window (a floor) when `capped`, and `truncated` is true when the parcel has more permits than `data` carries.",
            "schema": {
              "type": "string",
              "enum": [
                "envelope"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Permits returned. By default the body is a BARE ARRAY of permit rows, at most 100 (newest issued_date first) — a parcel with more permits is silently cut at 100 on this shape. With `?shape=envelope` the body is `{ data, permit_count, permit_count_basis, truncated, row_cap }` so the cap is reported.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Permit"
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "data",
                        "permit_count",
                        "permit_count_basis",
                        "truncated",
                        "row_cap"
                      ],
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Permit"
                          }
                        },
                        "permit_count": {
                          "type": "integer",
                          "description": "The parcel's permit count (exact) or the capped window size (a floor) — see permit_count_basis."
                        },
                        "permit_count_basis": {
                          "type": "string",
                          "enum": [
                            "exact",
                            "capped"
                          ]
                        },
                        "truncated": {
                          "type": "boolean",
                          "description": "True when the parcel has more permits than `data` carries."
                        },
                        "row_cap": {
                          "type": "integer",
                          "description": "The row cap `data` is bounded by (100)."
                        }
                      },
                      "additionalProperties": false
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-sdk-group": "parcels",
        "x-sdk-method": "permits"
      }
    },
    "/api/v1/parcels/{id}/deeds": {
      "get": {
        "operationId": "getParcelDeeds",
        "summary": "Get parcel deed history",
        "description": "Retrieve deed transactions and transfer history for a parcel.",
        "tags": [
          "Parcels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Composite parcel identifier (county_fips:parcel_id).",
            "schema": {
              "type": "string",
              "example": "37:119:12104406"
            }
          },
          {
            "name": "shape",
            "in": "query",
            "required": false,
            "description": "Body shape. Omit for the default bare array of deed rows; `envelope` returns the typed envelope with a `status` header and the frozen `known_deed_count`.",
            "schema": {
              "type": "string",
              "enum": [
                "envelope"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deeds returned. By default the body is a BARE ARRAY of deed rows (empty when the parcel's only deed signal is the frozen parcels_serving.deed_count — a count is never turned into a null-filled event). With `?shape=envelope` the body is the typed envelope `{ data, status, known_deed_count, known_deed_count_basis, note? }`, where `status` is one of per_deed | rollup_events | summary_only | none.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "array",
                      "description": "Default shape (no `shape` parameter): the deed rows.",
                      "items": {
                        "$ref": "#/components/schemas/Deed"
                      }
                    },
                    {
                      "type": "object",
                      "description": "Returned only when `shape=envelope`.",
                      "required": [
                        "data",
                        "status",
                        "known_deed_count",
                        "known_deed_count_basis"
                      ],
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Deed"
                          }
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "per_deed",
                            "rollup_events",
                            "summary_only",
                            "none"
                          ]
                        },
                        "known_deed_count": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "parcels_serving.deed_count when the parcel carries one; NOT a count of the returned rows."
                        },
                        "known_deed_count_basis": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Where known_deed_count comes from: the frozen 2026-04 weld, or the identity gate's reason when the parcel_id collides across counties — parcel_id_collides_bare_id_joined (rollup withheld, count null), parcel_id_collides_unmeasured (served with the doubt visible), collision_check_unavailable (withheld under DQ_IDENTITY_GATE_FAIL_CLOSED=1)."
                        },
                        "note": {
                          "type": "string"
                        },
                        "join_key_basis": {
                          "type": "string",
                          "enum": [
                            "state_county_parcel_id",
                            "parcel_id_collides",
                            "unchecked"
                          ],
                          "description": "The identity probe's verdict on the rollup (present on rollup-derived envelopes; absent on the county-scoped per_deed branch)."
                        },
                        "rollup_probe": {
                          "type": "string",
                          "enum": [
                            "deeds_relation"
                          ],
                          "description": "Present when the rollup was withheld on the deeds-relation probe: the parcel_id is unique in parcels_serving (join_key_basis state_county_parcel_id) but parcel_deeds carries rows for it under another (state, county), so the frozen rollup was welded on the bare id from another parcel's deeds."
                        }
                      },
                      "additionalProperties": false
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-sdk-group": "parcels",
        "x-sdk-method": "deeds"
      }
    },
    "/api/v1/parcels/{id}/risks": {
      "get": {
        "operationId": "getParcelRisks",
        "summary": "Get parcel risk assessment",
        "description": "Retrieve flood, wildfire, air quality, and crime risk data for a parcel.",
        "tags": [
          "Parcels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Composite parcel identifier (county_fips:parcel_id).",
            "schema": {
              "type": "string",
              "example": "37:119:12104406"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Risk assessment returned.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiskAssessment"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-sdk-group": "parcels",
        "x-sdk-method": "risks"
      }
    },
    "/api/v1/search": {
      "post": {
        "operationId": "searchParcels",
        "summary": "Search parcels",
        "description": "Search parcels with optional geographic bounds and attribute filters. `bounds` and `filters` are both optional (`filters` defaults to `{}`); the body is validated and any bad member is a 400 naming it. `sort` applies to UNBOUNDED queries only: with `bounds`, rows come back in spatial-index order and the response says `sort_applied: false`. `total` is the exact number of matching parcels up to 10,000; beyond that it is 10,000 with `total_is_lower_bound: true`, and it is null if the count timed out (`total_status: \"timed_out\"`). Traffic-count columns are withheld until verified: they are returned as null with a `withhold_gate` block, and filters on them (minVpd, maxVpd, minVisibilityScore) are refused with 400 `filter_withheld`.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "bounds": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "north",
                      "south",
                      "east",
                      "west"
                    ],
                    "description": "Viewport in WGS84 degrees. north > south. west > east is an antimeridian-crossing box.",
                    "properties": {
                      "north": {
                        "type": "number",
                        "minimum": -90,
                        "maximum": 90,
                        "example": 35.85
                      },
                      "south": {
                        "type": "number",
                        "minimum": -90,
                        "maximum": 90,
                        "example": 35.75
                      },
                      "east": {
                        "type": "number",
                        "minimum": -180,
                        "maximum": 180,
                        "example": -78.55
                      },
                      "west": {
                        "type": "number",
                        "minimum": -180,
                        "maximum": 180,
                        "example": -78.7
                      }
                    }
                  },
                  "filters": {
                    "type": "object",
                    "additionalProperties": false,
                    "default": {},
                    "description": "All optional; null means not set. Unknown members are a 400.",
                    "properties": {
                      "zoningCategories": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "Residential",
                          "Commercial"
                        ],
                        "description": "Zoning categories (Residential, Commercial, Industrial, Mixed-Use, Agricultural, …). Unrecognised labels are reported in `zoning_categories_unrecognized`."
                      },
                      "ownerTypes": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "individual",
                            "llc",
                            "trust",
                            "corporation",
                            "government",
                            "religious",
                            "partnership",
                            "association",
                            "financial"
                          ]
                        },
                        "description": "Owner entity type (case-insensitive)."
                      },
                      "propertyType": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Property type group, e.g. Commercial, Residential."
                      },
                      "businessTypes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Business / use type, e.g. car_wash."
                      },
                      "absenteeOnly": {
                        "type": "boolean",
                        "default": false,
                        "description": "Only parcels whose owner state differs from the parcel state."
                      },
                      "soldWithin": {
                        "type": "string",
                        "enum": [
                          "6mo",
                          "1yr",
                          "3yr",
                          "never"
                        ]
                      },
                      "floodZone": {
                        "type": "string",
                        "example": "AE"
                      },
                      "valueRange": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "Assessed value range.",
                        "properties": {
                          "min": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "example": 100000
                          },
                          "max": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "example": 500000
                          }
                        }
                      },
                      "yearBuiltRange": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "Year built range.",
                        "properties": {
                          "min": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "example": 1990
                          },
                          "max": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "example": 2024
                          }
                        }
                      },
                      "acreageRange": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "Lot size range in acres.",
                        "properties": {
                          "min": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "example": 0.5
                          },
                          "max": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "example": 10
                          }
                        }
                      },
                      "minYearsOwned": {
                        "type": "number",
                        "minimum": 0
                      },
                      "minCrimeScore": {
                        "type": "number",
                        "minimum": 0
                      },
                      "maxCrimeScore": {
                        "type": "number",
                        "minimum": 0
                      },
                      "crimeTrend": {
                        "type": "string"
                      },
                      "minVpd": {
                        "type": "number",
                        "description": "WITHHELD — refused with 400 filter_withheld until traffic counts are verified."
                      },
                      "maxVpd": {
                        "type": "number",
                        "description": "WITHHELD — refused with 400 filter_withheld."
                      },
                      "minVisibilityScore": {
                        "type": "number",
                        "description": "WITHHELD — refused with 400 filter_withheld."
                      }
                    }
                  },
                  "sort": {
                    "type": "string",
                    "enum": [
                      "assessed_value",
                      "sale_price",
                      "acreage",
                      "year_built",
                      "deal_score",
                      "address",
                      "city",
                      "state",
                      "owner_name",
                      "total_assessed_value",
                      "zoning",
                      "lot_size_acres",
                      "ownership_type"
                    ],
                    "example": "assessed_value",
                    "description": "Sort field (unbounded queries only). The first five are the primary names; the rest are accepted column names. A legacy `{field, direction}` object is also accepted."
                  },
                  "order": {
                    "type": "string",
                    "enum": [
                      "asc",
                      "desc"
                    ],
                    "default": "desc"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 500,
                    "default": 100,
                    "description": "Page size. Values above 500 are clamped to 500 (the response echoes the effective limit)."
                  },
                  "offset": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1000000,
                    "default": 0
                  }
                }
              },
              "example": {
                "bounds": {
                  "north": 35.215,
                  "south": 35.205,
                  "east": -80.855,
                  "west": -80.865
                },
                "filters": {
                  "valueRange": {
                    "min": 100000
                  }
                },
                "limit": 50
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results returned.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "total",
                    "total_is_estimate",
                    "total_is_lower_bound",
                    "has_more",
                    "limit",
                    "offset",
                    "sort_applied",
                    "withhold_gate"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "parcel_id",
                          "state_fips",
                          "county_fips",
                          "address",
                          "city",
                          "state",
                          "owner_name",
                          "total_assessed_value",
                          "zoning",
                          "zoning_code_raw",
                          "year_built",
                          "lot_size_acres",
                          "ownership_type",
                          "land_use_desc",
                          "latitude",
                          "longitude",
                          "direct_vpd",
                          "nearby_vpd",
                          "vpd_visibility_score",
                          "crime_score",
                          "crime_tier",
                          "crime_trend",
                          "_guards"
                        ],
                        "properties": {
                          "parcel_id": {
                            "type": "string"
                          },
                          "state_fips": {
                            "type": "string"
                          },
                          "county_fips": {
                            "type": "string"
                          },
                          "address": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "city": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "state": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "owner_name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "total_assessed_value": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "zoning": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "zoning_code_raw": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "year_built": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "lot_size_acres": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "ownership_type": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "land_use_desc": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "latitude": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "longitude": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "direct_vpd": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "nearby_vpd": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "vpd_visibility_score": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "crime_score": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "crime_tier": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "crime_trend": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "_guards": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Exact matching count up to 10,000; 10,000 when capped; null when the count timed out.",
                      "example": 37
                    },
                    "total_is_estimate": {
                      "type": "boolean",
                      "description": "True only when `total` is capped (a lower bound)."
                    },
                    "total_is_lower_bound": {
                      "type": "boolean"
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "limit": {
                      "type": "integer",
                      "example": 100
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0
                    },
                    "sort_applied": {
                      "type": "boolean",
                      "description": "False when `bounds` was given (sort is not applied to bounded queries) or no sort was requested."
                    },
                    "withhold_gate": {
                      "type": "object",
                      "description": "Present when withheld columns (traffic counts) are in the rows; they are null.",
                      "required": [
                        "applied",
                        "suppressed",
                        "reason",
                        "reasons",
                        "withheld_on",
                        "note"
                      ],
                      "properties": {
                        "applied": {
                          "type": "boolean"
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "reason": {
                          "type": "string"
                        },
                        "reasons": {
                          "type": "object",
                          "required": [
                            "direct_vpd",
                            "nearby_vpd",
                            "vpd_visibility_score"
                          ],
                          "properties": {
                            "direct_vpd": {
                              "type": "string"
                            },
                            "nearby_vpd": {
                              "type": "string"
                            },
                            "vpd_visibility_score": {
                              "type": "string"
                            }
                          },
                          "additionalProperties": false
                        },
                        "withheld_on": {
                          "type": "string"
                        },
                        "note": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false
                    },
                    "total_status": {
                      "type": "string",
                      "enum": [
                        "timed_out"
                      ],
                      "description": "Present when the count did not finish."
                    },
                    "zoning_categories_applied": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "zoning_categories_unrecognized": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "zoning_unknown_estimate": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "zoning_unknown_is_estimate": {
                      "type": "boolean"
                    },
                    "zoning_filter_note": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-sdk-group": "search",
        "x-sdk-method": "parcels",
        "x-sdk-pagination": {
          "style": "offset",
          "items": "data"
        }
      }
    },
    "/api/v1/coverage": {
      "get": {
        "operationId": "getCoverage",
        "summary": "Get coverage statistics",
        "description": "Retrieve parcel coverage statistics at the state or county level. API key optional: anonymous callers are rate-limited per IP; a present but invalid key is a 401; a valid key is rate-limited at its own tier and is not metered.",
        "tags": [
          "Coverage"
        ],
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "State FIPS code or abbreviation to filter coverage to a specific state and return county-level breakdown.",
            "schema": {
              "type": "string",
              "example": "37"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coverage data returned.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "state_fips",
                          "parcel_count",
                          "with_address",
                          "with_geocode",
                          "with_owner",
                          "with_value",
                          "last_updated",
                          "with_geometry"
                        ],
                        "properties": {
                          "state_fips": {
                            "type": "string",
                            "example": "37"
                          },
                          "county_fips": {
                            "type": "string",
                            "example": "37183"
                          },
                          "county_name": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "example": "Wake"
                          },
                          "parcel_count": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "example": 450000
                          },
                          "with_address": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "with_geocode": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "with_owner": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "with_value": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "last_updated": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "population": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "with_geometry": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "state_abbr": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "county_count": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "total_counties": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "total_population": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "covered_population": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "population_coverage_pct": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "state_name": {
                            "type": "string",
                            "example": "North Carolina"
                          },
                          "geocoded_pct": {
                            "type": "number",
                            "format": "float",
                            "example": 92.5
                          },
                          "owner_pct": {
                            "type": "number",
                            "format": "float",
                            "example": 88.3
                          },
                          "value_pct": {
                            "type": "number",
                            "format": "float",
                            "example": 85.1
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "state": {
                      "type": "string"
                    },
                    "total_counties": {
                      "type": "integer"
                    },
                    "total_counties_us": {
                      "type": "integer"
                    },
                    "total_population_us": {
                      "type": "integer"
                    },
                    "covered_population_us": {
                      "type": "number"
                    },
                    "population_coverage_pct": {
                      "type": "number"
                    },
                    "national_counts": {
                      "type": "object",
                      "required": [
                        "parcel_counts_epoch",
                        "parcels",
                        "mapped_locations",
                        "geocoded_parcels",
                        "rows",
                        "parcel_count_definitions"
                      ],
                      "properties": {
                        "parcel_counts_epoch": {
                          "type": "string"
                        },
                        "parcels": {
                          "type": "number"
                        },
                        "mapped_locations": {
                          "type": "number"
                        },
                        "geocoded_parcels": {
                          "type": "number"
                        },
                        "rows": {
                          "type": "number"
                        },
                        "parcel_count_definitions": {
                          "type": "object",
                          "required": [
                            "parcels",
                            "mapped_locations",
                            "geocoded_parcels",
                            "rows"
                          ],
                          "properties": {
                            "parcels": {
                              "type": "string"
                            },
                            "mapped_locations": {
                              "type": "string"
                            },
                            "geocoded_parcels": {
                              "type": "string"
                            },
                            "rows": {
                              "type": "string"
                            }
                          },
                          "additionalProperties": false
                        }
                      },
                      "additionalProperties": false
                    },
                    "total_parcels": {
                      "type": "integer",
                      "example": 180000000
                    },
                    "states_covered": {
                      "type": "integer",
                      "example": 50
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "x-sdk-group": "coverage",
        "x-sdk-method": "get"
      }
    },
    "/api/v1/deals/absentee": {
      "get": {
        "operationId": "getAbsenteeOwners",
        "summary": "Find absentee owners",
        "description": "Retrieve parcels owned by absentee owners, useful for off-market deal sourcing.",
        "tags": [
          "Deals"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "county_fips",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "37183"
            },
            "description": "Filter by county FIPS code."
          },
          {
            "name": "state_fips",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "37"
            },
            "description": "Filter by state FIPS code."
          },
          {
            "name": "min_value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": 50000
            },
            "description": "Minimum assessed value."
          },
          {
            "name": "out_of_state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Only return owners whose mailing address is in a different state."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Absentee owner parcels returned.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "total",
                    "limit",
                    "offset"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "county_fips",
                          "state_fips",
                          "parcel_id",
                          "owner_name",
                          "property_address",
                          "property_city",
                          "property_state",
                          "owner_address",
                          "owner_city",
                          "owner_state",
                          "total_assessed_value",
                          "last_sale_date",
                          "last_sale_price",
                          "is_out_of_state"
                        ],
                        "properties": {
                          "county_fips": {
                            "type": "string"
                          },
                          "state_fips": {
                            "type": "string"
                          },
                          "parcel_id": {
                            "type": "string"
                          },
                          "owner_name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "property_address": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "property_city": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "property_state": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "owner_address": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "owner_city": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "owner_state": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "total_assessed_value": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "last_sale_date": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "last_sale_price": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "is_out_of_state": {
                            "type": [
                              "boolean",
                              "null"
                            ]
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-sdk-group": "deals",
[...]
